
body{
    margin: 0; 
    font-family: roboto;
    background-color: #0f172a;
    color: whitesmoke;
}

ul a {
    text-decoration: none;
    color: whitesmoke; 

}

ul li {
    padding: 10px 20px;
    transition: 0.2s;
    
}

li:hover {
    border: 1px whitesmoke solid;
    border-radius: 5px;
    padding: 10px;
    transform: translate(-3px);
}



ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    list-style: none;
    
}



#welcome {
    text-transform: capitalize;
    padding: 20px;
    color:aliceblue;
    margin-left: 15px;
    text-shadow: 0cap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#userProfile p:not(#email) {
    font-size: 16px;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#userProfile {
    padding: 12px;
    margin: 12px;
}

#userProfile p {
    
    border: whitesmoke solid 2px;
    padding: 10px; 
    width: 50%;
}

html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;

}

#homepage, #userProfile, #about-us, #contact {
    min-height: 100vh;
    box-sizing: border-box;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
}