
body{
    margin: 0; 
    font-family: roboto;
    background-color: #0f172a;
    color: whitesmoke;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    list-style: none;
    gap: 10px; 
    list-style: none;
    
}

ul a {
    text-decoration: none;
    color: whitesmoke; 
    display: block;
    transition: 0.2s;
    border-radius: 5px;
    transition: 0.2s ease;

}

ul a:hover {
    background-color: #1e293b;
    transform: translateY(-2px);
}

ul li {
    list-style: none;
}


#welcome {
    text-transform: capitalize;
    padding: 20px;
    color:aliceblue;
    margin-left: 15px;
    text-shadow: 0cap;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#userProfile p:not(#email) {
    font-size: 16px;
    text-transform: capitalize;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#userProfile {
    min-height: 100vh;
    padding: 80px 10%;
    box-sizing: border-box;
}

#userProfile p {
    border:  solid 2px  #475569;
    padding: 15px; 
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    background-color: #111c31;
    transition: 0.2s ease;
}

#userProfile p:hover {
    border-color: #64748b;

}

html {
    scroll-behavior: smooth;
    
}

section {
    min-height: 100vh;
    box-sizing: border-box;

}

#homepage, #userProfile, #about-us, #contact {
    min-height: 100vh;
    box-sizing: border-box;
}

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #0f172a;
    border-bottom: 1px solid #334155;
    padding: 5px 30px;
}

footer {
    text-align: center;
}


#logout-btn {
    background: transparent;
    color: whitesmoke;
    border: 1px solid #475569;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

#logout-btn:hover {
    background-color: #ef4444;
    border-color: #ef4444;
    transform: translateY(-2px);
}

.close-icon {
    position: absolute; 
    top: 10px; 
    right: 15px; 
    width: 20px; 
    height: 20px; 
    cursor: pointer;
}

#logout-msg {
    border: none;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: relative;
}

#form-loader {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    z-index: 999;
}

.hidden {
    display: none;
}


